/*========== Base ==========*/
* {
  /*font-family: serif;*/
  font-family: times;
  font-size: 1.025em;
}

body {
  background-color: #292434;
  color: #99CC33;
}
header {
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #666666;
  color: black;
  background-image: url('/img/PC241008.JPG');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
hgroup {
  display: inline-block;
}
main {
  width: 100%;
  margin-top: 160px;
}
aside {
  display: none;
}
li {
  list-style: none;
  padding: 10px;
  margin: 10px;
}
footer {
}


/*========== Text ==========*/

p {
  text-align: justify;
}


/*========== Link ==========*/
a, a:link, a:hover, a:visited{
  text-decoration: none;
  padding: 5px;
}
a, a:visited {
  color: darkgreen;
}
a:hover {
  color: lightgreen;
}

@media only screen and (min-width: 640px) {
  header {
  top: 0;
}
  nav {
    background-color: #111111;
    margin: 0px;
    padding: 0px;
  }

  aside {
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #222222;
    border-radius: 20px;
  }
  main {
    margin-top: 250px;
    width: 100%;
  }
}
