.header_logo_title {
  display: flex;
  flex-direction: row;
}
.header_img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin: 10px;
}
.tab {
  background-color: darkgrey;
  text-align: center;
}

.aside_left {
  width: 100%;
  display: block;
  text-align: center;
}
.aside_left > ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home {
  margin: 20px;
}
.about {
  margin: 20px;
}
.project_area {
  margin: 20px;
}

footer > ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

@media only screen and (min-width: 640px) {

  .aside_right {
    width: 10%;
    margin-left: 90%;
    display: flex;
    justify-content: center;
  }
  .aside_right > ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    /*background-color: blue;*/
  }
  /*.aside_right > ul > li {
    background-color: green;
    width: 16px;
  }*/
  .icon-twitter {
  }
  .aside_left {
    width: 20%;
  }
  .aside_left > ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 0px;
  }
  .home, .about{
    width: 85%;
  }
  .project_area {
    width: 60%;
    margin-left: 20%;
    padding: 0px 5% 5% 5%;
  }
  .footer_social {
    display: none;
  }
}
